<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/homestyles.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Facial Recognition</title>
</head>
<body>
  
    <button type="submit" onclick="button1()" class="btn btn-primary btn-lg btn-block">Predict Features on Uploaded pic</button>
    <button type="submit" onclick="button2()" id="btn_2" class="btn btn-secondary btn-lg btn-block">Get Photo by Labels</button>
    <button type="submit" onclick="button3()" id="btn_3" class="btn btn-secondary btn-lg btn-block">Get Labels by Video</button>

</body>
<script src="/js/check.js"></script>

</html>